<ion-header [translucent]="true">
  <ion-toolbar>
   <div class="header"><ion-icon name="arrow-back-outline" routerLink="/inicio"></ion-icon>
    <ion-title>Bagdes</ion-title></div> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-label>Ingles</ion-label>
    <ion-badge color="primary">10</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Matematicas</ion-label>
    <ion-badge color="secondary">9</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Fisica</ion-label>
    <ion-badge color="tertiary">10</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Integradora</ion-label>
    <ion-badge color="success">8</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Tutoria</ion-label>
    <ion-badge color="warning">7</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Ciencias</ion-label>
    <ion-badge color="danger">10</ion-badge>
  </ion-item>
</ion-list>
</ion-content>
