<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header"><ion-icon name="arrow-back-outline" routerLink="/inicio"></ion-icon>
    <ion-title>Tipografia</ion-title></div> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-text color="primary">
  <h1>H1: El rápido zorro marrón salta sobre el perro perezoso</h1>
</ion-text>

<ion-text color="secondary">
  <h2>H2: El rápido zorro marrón salta sobre el perro perezoso</h2>
</ion-text>

<ion-text color="tertiary">
  <h3>H3: El rápido zorro marrón salta sobre el perro perezoso</h3>
</ion-text>

<p>
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
  Vi un hombre lobo con un menú chino en la mano. Caminando por las
  <ion-text color="success"><sub>calles</sub></ion-text> de Soho bajo la lluvia. Estaba
  <ion-text color="medium"><i>buscando</i></ion-text> un lugar llamado Lee Ho Fook's. Va a pedir un
  <ion-text color="danger">gran plato de chow mein de carne.</ion-text>
</p>
</ion-content>
