.checkbox-container {
    padding: 10px;
}

.checkbox-1 {
    --color: #007aff;
    /* Azul para el primer checkbox */
}

.checkbox-2 {
    --color: #ff2d55;
    /* Rojo para el segundo checkbox */
}

.checkbox-3 {
    --color: #34b7f1;
    /* Azul claro para el tercer checkbox */
}

.checkbox-4 {
    --color: #4cd964;
    /* Verde para el cuarto checkbox */
}

.checkbox-5 {
    --color: #ffcc00;
    /* Amarillo para el quinto checkbox */
}