<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-icon name="arrow-back-outline" routerLink="/inicio"></ion-icon>
      <ion-title>Botones</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button class="styled-button">Default</ion-button>
    <ion-button class="styled-button" color="primary">Primary</ion-button>
    <ion-button class="styled-button" color="secondary">Secondary</ion-button>
    <ion-button class="styled-button" color="tertiary">Tertiary</ion-button>
    <ion-button class="styled-button" color="success">Success</ion-button>
    <ion-button class="styled-button" color="warning">Warning</ion-button>
    <ion-button class="styled-button" color="danger">Danger</ion-button>
    <ion-button class="styled-button" color="light">Light</ion-button>
    <ion-button class="styled-button" color="medium">Medium</ion-button>
    <ion-button class="styled-button" color="dark">Dark</ion-button>
  </div>
</ion-content>
