<ion-header [translucent]="true">
  <ion-toolbar>
     <div class="header"><ion-icon name="arrow-back-outline" routerLink="/inicio"></ion-icon>
    <ion-title>Search</ion-title></div> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Componentes de Búsqueda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Buscar</ion-label>
    <ion-searchbar placeholder="Buscar productos" show-clear-button="focus" color="primary"></ion-searchbar>
  </ion-item>

  <ion-item>
    <ion-label>Buscar con Placeholder</ion-label>
    <ion-searchbar placeholder="Personaliza el texto aquí" color="secondary"></ion-searchbar>
  </ion-item>

  <ion-item>
    <ion-label>Búsqueda Deshabilitada</ion-label>
    <ion-searchbar placeholder="Deshabilitado" disabled="true" color="tertiary"></ion-searchbar>
  </ion-item>

  <ion-searchbar show-clear-button="always" clear-icon="trash-bin" value=""></ion-searchbar>
</ion-content>
