<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-title>Componentes de IONIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
<ion-list>
  <ion-item routerLink="/badges">
    <ion-label>Bagdes</ion-label>
  </ion-item>
  <ion-item routerLink="/card">
    <ion-label >Cards</ion-label>
  </ion-item>
  <ion-item routerLink="/grid">
    <ion-label>Grid</ion-label>
  </ion-item>
  <ion-item routerLink="/search">
    <ion-label>Search</ion-label>
  </ion-item>
  <ion-item routerLink="/alerts">
    <ion-label>Alertas</ion-label>
  </ion-item>
    <ion-item routerLink="/button">
    <ion-label>Butons</ion-label>
  </ion-item>
  <ion-item routerLink="/acordion">
    <ion-label >Acordion</ion-label>
  </ion-item>
  <ion-item routerLink="/checbox">
    <ion-label>Checkbox</ion-label>
  </ion-item>
  <ion-item routerLink="/tipografia">
    <ion-label>Tipografias</ion-label>
  </ion-item>
  <ion-item routerLink="/avatar">
    <ion-label>Avatar</ion-label>
  </ion-item>
</ion-list>
  </div>
</ion-content>
