<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="color: white; font-weight: bold;">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registro" style="padding: 20px;">
    <h3 style="font-weight: 600; margin-bottom: 20px; text-align: center; color: #4a4a4a;">Crea tu Cuenta</h3>

    <!-- Nombre -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        placeholder="Nombre"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Ciudad -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        placeholder="Ciudad"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        placeholder="Contraseña"
        type="password"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Verificar Contraseña -->
    <p style="padding-left: 5px; color: #ff2424; margin-bottom: 5px; font-size: 14px;">Verificar Contraseña</p>
    <ion-item style="--border-color: #ccc; --border-radius: 10px;">
      <ion-input
        placeholder="Confirma Contraseña"
        type="password"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>
  </div>
</ion-content>
