<ion-content [fullscreen]="true">
  <div class="registro" style="padding: 20px;">
    <h3 style="font-weight: 600; margin-bottom: 20px; text-align: center; color: #4a4a4a;">Crea tu Cuenta</h3>

    <!-- Nombre -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="Nombre"
        placeholder="Nombre"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Ciudad -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="Ciudad"
        placeholder="Ciudad"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Número de Teléfono -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="Telefono"
        placeholder="Número de Teléfono"
        type="tel"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Correo Electrónico -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="Correo"
        placeholder="Correo Electrónico"
        type="email"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

   
    <!-- Contraseña -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="Contrasena"
        placeholder="Contraseña"
        type="password"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Confirmar Contraseña -->
    <ion-item style="margin-bottom: 15px; --border-color: #ccc; --border-radius: 10px;">
      <ion-input
        [(ngModel)]="ConfirmacionContrasena"
        placeholder="Confirma Contraseña"
        type="password"
        style="padding-left: 15px; font-size: 16px; --background: #f9f9f9; border-radius: 10px;">
      </ion-input>
    </ion-item>

    <!-- Botón de registro -->
    <ion-button expand="full" color="primary" (click)="register()">
      Registrarse
    </ion-button>
  </div>
</ion-content>
